* {
    margin: 3px 4px 3px 4px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.banner-container {
    display: flex;
    justify-content: space-around;
    background-color: rgba(229, 84, 115, 0.146);
    padding-top: 40px;

}

.banner-text {
    color: #272727;
    padding-left: 150px;
    padding-top: 150px;
    font-size: 35px;
}

.description {
    color: rgba(39, 39, 39, 0.566);
    font-size: 16px;
    padding-right: 200px;
    line-height: 25px;
}

.btn {
    padding: 20px 40px 20px 40px;
    background-color: #E55473;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
}

.banner-img {
    width: 635px;
    height: 800px;
    flex-shrink: 0;
    padding-right: 120px;
    padding-left: 120px;
    padding-top: 0px;
}

.bonus {
    text-align: center;
}

.bonus-title {
    padding-top: 150px;
    padding-right: 170px;
    color: #272727;
    /* text-align: center; */
    font-size: 35px;
    line-height: 85px;
}

.bonus-description{
    color: rgba(39, 39, 39, 0.566);
    /* text-align: center; */
    font-size: 16px;
    padding-right: 200px;
    line-height: 35px;
}
.box {
    width: 310px;
    height: 428px;
    list-style: none;
    text-align: center;
}

.bonus-container {
    display:flex;
    justify-content: space-around;
    text-align: center;
}

.box1 {
    width: 464px;
    height: 430px;
    background-color: rgba(167, 33, 98, 0.15);
    padding-top: 60px;
    margin-left: 170px;
    border-radius: 250px 250px 0px 0px;
}

.box2 {
    width: 464px;
    height: 430px;
    background-color:  rgba(5, 151, 160, 0.15);
    padding-top: 60px;
    border-radius: 250px 250px 0px 0px;
}

.box3 {
    width: 464px;
    height: 476px;
    background-color: rgba(71, 125, 17, 0.15);
    padding-top: 15px;
    margin-right: 170px;
    border-radius: 250px 250px 0px 0px;
    
    
}
.link {
    display:flex ;
    justify-content: space-around;
    padding-left: 120px;
    padding-right: 160px;
    line-height: 50px;
    
}

.flower-link {
    list-style: none;
}